<section id="breadcrumbs">
    <div class="container">
        <div class="flex">
            <a href="/">Home</a>
            <span class="sep"></span>
            <a href="/collections">Products</a>
            <span class="sep"></span>
            <span>{{ collection.title }}</span>
        </div>
    </div>
</section>

<section id="category__page">
    <div class="container flex">
        <div class="sidebar">
            <div class="title">Product Categories</div>
            <ul data-current="{{ collection.title }}">
                {% for collection in collections %}
                    <li class="has-children" data-collection="{{ collection.title }}">
                        <a href="{{ collection.url }}">{{- collection.title }}</a>
                        <ul class="sub-menu">
                            {% for product in collection.products %}
                                <li><a href="{{ product.url }}">{{ product.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="data">
            <div class="list__category grid">
              {% for product in collection.products %}
                <div class="item">
                    <div class="image"><img src="{{ product.featured_image |  image_url }}" alt="title"></div>
                    <div class="title">{{ product.title }}</div>
                    <div class="excerpt">{{ product.description | truncatewords: 40 }}</div>
                    <a href="{{ product.url }}" class="btn btn-orange">View Products</a>
                </div>
              {% endfor %}
            </div>
        </div>
    </div>
</section>

<section id="free__help">
    <div class="container">
        <div class="bt">Need Help Choosing An Artificial Grass Solution?</div>
        <div class="bt__note">The experts at El Paso Artificial Grass & Turf can help you find the ideal artificial grass solution for your project. With years of experience and a deep understanding of landscaping needs, our knowledgeable team will guide you through every step of the process, ensuring your project exceeds expectations.</div>
        <a href="#get-free-quote" class="btn btn-orange open__modal">Get a Free Quote</a>
        <div class="note">or call us at (915) 201-4217 for a free quote  </div>
        <div class="image"><img src="{{ 'free_help.png' | asset_url }}" alt="title"></div>
    </div>
</section>
<style>
    #breadcrumbs{padding: 215px 0 60px;}
    header{background: linear-gradient(68.93deg, rgba(127, 190, 36, 0.2) -3.47%, rgba(255, 255, 255, 0) 38.97%);}
</style>
<script>
    const currentCollection = document.querySelector('[data-current]').getAttribute('data-current')
    const collections = document.querySelectorAll('[data-collection]')
    collections.forEach(col => {
    let att = col.getAttribute('data-collection')
    if (att == currentCollection) {
        col.classList.add('open')
        const ulBlock = col.querySelector('.sub-menu')
        ulBlock.style.display = 'block'
    }
    })
</script>