<section id="promo__page">
    <div class="container">
        <h1>Over 100+ Five Star Reviews and 1500 Completed Artificial Projects!</h1>
        <div class="bt__note">See stunning before-and-after transformations and read real testimonials from our satisfied homeowners and contractors below.</div>
    </div>
</section>

<section id="reviews" class="inner">
    <div class="container">
        <div class="slider-sw">
            <div class="swiper slider__reviews">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="item flex">
                            <div class="user">
                                <img src="{{ 'google.svg' | asset_url}} " alt="google">
                                <div class="name">Jake Peterson</div>
                                <p>Landscaping Business Owner</p>
                            </div>
                            <div class="data">
                                <img src="{{ 'rating.svg' | asset_url}} " alt="rating">
                                <div class="title">The Best Decisions I've Made for My Landscaping Business</div>
                                <p>Thanks to the program, I've been able to elevate the level of service I offer and grow my business like never before. Highly recommend it to any contractor looking to take their work to the next level!”</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item flex">
                            <div class="user">
                                <img src="{{ 'google.svg' | asset_url}} " alt="google">
                                <div class="name">Jake Peterson</div>
                                <p>Landscaping Business Owner</p>
                            </div>
                            <div class="data">
                                <img src="{{ 'rating.svg' | asset_url}} " alt="rating">
                                <div class="title">The Best Decisions I've Made for My Landscaping Business</div>
                                <p>Thanks to the program, I've been able to elevate the level of service I offer and grow my business like never before. Highly recommend it to any contractor looking to take their work to the next level!”</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item flex">
                            <div class="user">
                                <img src="{{ 'google.svg' | asset_url}} " alt="google">
                                <div class="name">Jake Peterson</div>
                                <p>Landscaping Business Owner</p>
                            </div>
                            <div class="data">
                                <img src="{{ 'rating.svg' | asset_url}} " alt="rating">
                                <div class="title">The Best Decisions I've Made for My Landscaping Business</div>
                                <p>Thanks to the program, I've been able to elevate the level of service I offer and grow my business like never before. Highly recommend it to any contractor looking to take their work to the next level!”</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item flex">
                            <div class="user">
                                <img src="{{ 'google.svg' | asset_url}} " alt="google">
                                <div class="name">Jake Peterson</div>
                                <p>Landscaping Business Owner</p>
                            </div>
                            <div class="data">
                                <img src="{{ 'rating.svg' | asset_url}} " alt="rating">
                                <div class="title">The Best Decisions I've Made for My Landscaping Business</div>
                                <p>Thanks to the program, I've been able to elevate the level of service I offer and grow my business like never before. Highly recommend it to any contractor looking to take their work to the next level!”</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev"><svg width="61" height="62" viewBox="0 0 61 62" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="1" y="1.43018" width="59" height="59" rx="29" fill="#013E1F"/><rect x="1" y="1.43018" width="59" height="59" rx="29" stroke="#013E1F" stroke-width="2"/><path d="M37.7074 32.1377L27.7074 42.1377C27.6145 42.2307 27.5042 42.3044 27.3828 42.3546C27.2614 42.4049 27.1313 42.4308 26.9999 42.4308C26.8686 42.4308 26.7384 42.4049 26.617 42.3546C26.4957 42.3044 26.3854 42.2307 26.2924 42.1377C26.1995 42.0448 26.1258 41.9345 26.0756 41.8131C26.0253 41.6917 25.9994 41.5616 25.9994 41.4302C25.9994 41.2988 26.0253 41.1687 26.0756 41.0473C26.1258 40.926 26.1995 40.8157 26.2924 40.7227L35.5862 31.4302L26.2924 22.1377C26.1048 21.9501 25.9994 21.6956 25.9994 21.4302C25.9994 21.1649 26.1048 20.9104 26.2924 20.7227C26.4801 20.5351 26.7346 20.4297 26.9999 20.4297C27.2653 20.4297 27.5198 20.5351 27.7074 20.7227L37.7074 30.7227C37.8004 30.8156 37.8742 30.9259 37.9245 31.0473C37.9748 31.1687 38.0007 31.2988 38.0007 31.4302C38.0007 31.5617 37.9748 31.6918 37.9245 31.8132C37.8742 31.9346 37.8004 32.0449 37.7074 32.1377Z" fill="white"/></svg></div>
            <div class="swiper-button-next"><svg width="61" height="62" viewBox="0 0 61 62" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="1" y="1.43018" width="59" height="59" rx="29" fill="#013E1F"/><rect x="1" y="1.43018" width="59" height="59" rx="29" stroke="#013E1F" stroke-width="2"/><path d="M37.7074 32.1377L27.7074 42.1377C27.6145 42.2307 27.5042 42.3044 27.3828 42.3546C27.2614 42.4049 27.1313 42.4308 26.9999 42.4308C26.8686 42.4308 26.7384 42.4049 26.617 42.3546C26.4957 42.3044 26.3854 42.2307 26.2924 42.1377C26.1995 42.0448 26.1258 41.9345 26.0756 41.8131C26.0253 41.6917 25.9994 41.5616 25.9994 41.4302C25.9994 41.2988 26.0253 41.1687 26.0756 41.0473C26.1258 40.926 26.1995 40.8157 26.2924 40.7227L35.5862 31.4302L26.2924 22.1377C26.1048 21.9501 25.9994 21.6956 25.9994 21.4302C25.9994 21.1649 26.1048 20.9104 26.2924 20.7227C26.4801 20.5351 26.7346 20.4297 26.9999 20.4297C27.2653 20.4297 27.5198 20.5351 27.7074 20.7227L37.7074 30.7227C37.8004 30.8156 37.8742 30.9259 37.9245 31.0473C37.9748 31.1687 38.0007 31.2988 38.0007 31.4302C38.0007 31.5617 37.9748 31.6918 37.9245 31.8132C37.8742 31.9346 37.8004 32.0449 37.7074 32.1377Z" fill="white"/></svg></div>
        </div>
    </div>
</section>

<section id="transformations">
    <div class="container">
        <div class="bt">Recent Client Landscape Transformations</div>
        <div class="items flex">
			<div class="item">
				<div class="title">El Paso YMCA Gets Updated Eco-Friendly Play Area</div>
				<div class="compare before-after">
					<img src="{{ 'before1.jpg' | asset_url}}" alt="before">
					<img src="{{ 'after1.jpg' | asset_url}}" alt="after">
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit pellentesque ut pharetra nibh vivamus auctor eu mi.</p>
			</div>
			<div class="item">
				<div class="title">A Horizon City Lawn Complete Makeover</div>
				<div class="compare before-after">
					<img src="{{ 'before2.jpg' | asset_url}}" alt="before">
					<img src="{{ 'after2.jpg' | asset_url}}" alt="after">
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit pellentesque ut pharetra nibh vivamus auctor eu mi.</p>
			</div>
			<div class="item">
				<div class="title">Fort Bliss Family Receives Affordable Lawn Revamp</div>
				<div class="compare before-after">
					<img src="{{ 'before3.jpg' | asset_url}}" alt="before">
					<img src="{{ 'after3.jpg' | asset_url}}" alt="after">
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit pellentesque ut pharetra nibh vivamus auctor eu mi.</p>
			</div>
			<div class="item">
				<div class="title">A Stunning Transformation for Historical Kern Lawn</div>
				<div class="compare before-after">
					<img src="{{ 'before4.jpg' | asset_url}}" alt="before">
					<img src="{{ 'after4.jpg' | asset_url}}" alt="after">
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit pellentesque ut pharetra nibh vivamus auctor eu mi.</p>
			</div>
		</div>
    </div>
</section>

<section id="testimonials" class="inner">
    <div class="container">
        <div class="bt"><strong>TESTIMONIALS</strong> What Our Customers Say</div>

        <div class="items flex">
			<div class="item">
				<div class="rating"><img src="{{ 'rating.svg' | asset_url}}" alt="rating"></div>
				<div class="title">“Would definitely do business with them again.”</div>
				<p>“Travis and crew were great to deal with. Very professional and super responsive which is sometimes hard to come by with contractors. The turf we chose for our rental home was SW Sod and we loved how it turned out. Would definitely do business with them again.”</p>
				<div class="user flex">
					<img src="{{ 'google.svg' | asset_url}}" alt="google">
					<div class="name"><strong>Anthony Holmes</strong> Satisfied Client</div>
				</div>
			</div>
			<div class="item">
				<div class="rating"><img src="{{ 'rating.svg' | asset_url}}" alt="rating"></div>
				<div class="title">“We are extremely pleased with 
                    our new yard”</div>
				<p>“Best contracting experience ever! We contracted El Paso Artificial Grass & Turf to put turf in our backyard for our pups!! I kid you not... it looks and feels amazing. The entire team was so kind and professional. We are extremely pleased with our new yard and can't wait to enjoy it with our fur-babies!”</p>
				<div class="user flex">
					<img src="{{ 'google.svg' | asset_url}}" alt="google">
					<div class="name"><strong>Eduardo Lujan</strong> Satisfied Client</div>
				</div>
			</div>
			<div class="item">
				<div class="rating"><img src="{{ 'rating.svg' | asset_url}}" alt="rating"></div>
				<div class="title">“Everyone was so professional and courteous”</div>
				<p>“I'm so pleased with how my yard turned out!! Everyone was so professional and courteous throughout the entire process. Travis was a huge help when it came to helping us narrow down exactly what we wanted and Josue was so timely and professional with the installation.”</p>
				<div class="user flex">
					<img src="{{ 'google.svg' | asset_url}}" alt="google">
					<div class="name"><strong>Kat Forti</strong> Satisfied Client</div>
				</div>
			</div>
			<div class="item">
				<div class="rating"><img src="{{ 'rating.svg' | asset_url}}" alt="rating"></div>
				<div class="title">“Very professional and super responsive”</div>
				<p>“Travis and crew were great to deal with. Very professional and super responsive which is sometimes hard to come by with contractors. The turf we chose for our rental home was SW Sod and we loved how it turned out. Would definitely do business with them.”</p>
				<div class="user flex">
					<img src="{{ 'google.svg' | asset_url}}" alt="google">
					<div class="name"><strong>Marcus Duchene</strong> Satisfied Client</div>
				</div>
			</div>
			<div class="item">
				<div class="rating"><img src="{{ 'rating.svg' | asset_url}}" alt="rating"></div>
				<div class="title">“Thank you for exceeding 
                    our expectations!”</div>
				<p>“Couldn't be happier with the quality of artificial turf provided. It looks so natural and has completely changed the feel of our outdoor space. From start to finish, the installation process was smooth and efficient. Thank you for exceeding our expectations!”
                    </p>
				<div class="user flex">
					<img src="{{ 'google.svg' | asset_url}}" alt="google">
					<div class="name"><strong>Michael Taylor</strong> Satisfied Client</div>
				</div>
			</div>
			<div class="item">
				<div class="rating"><img src="{{ 'rating.svg' | asset_url}}" alt="rating"></div>
				<div class="title">“They transformed our backyard into a lush oasis”</div>
				<p>"Absolutely thrilled with the artificial grass installation! They transformed our backyard into a lush oasis that requires minimal maintenance. The team's professionalism and attention to detail were outstanding. Highly recommend their services!”
                    </p>
				<div class="user flex">
					<img src="{{ 'google.svg' | asset_url}}" alt="google">
					<div class="name"><strong>Ruth Carter</strong> Satisfied Client</div>
				</div>
			</div>
		</div>

        <div class="center">
            <a href="#" class="btn btn-orange">View More Testimonials</a>
        </div>
    </div>
</section>

<section id="free__help">
    <div class="container">
        <div class="bt">Need Help on Selecting the Best Artificial Grass Solution?</div>
        <div class="bt__note">El Paso Artificial Grass Supply has you covered! Our knowledgeable team, with years of experience, will walk you through each step to ensure your project exceeds expectations.</div>
        <a href="#get-free-quote" class="btn btn-orange open__modal">Get a Free Quote</a>
        <div class="note">or call us at (915) 201-4217 for a free quote  </div>
        <div class="image"><img src="{{ 'free_help.png' | asset_url}} " alt="title"></div>
    </div>
</section>