<section id="promo" class="promo__about">
		<div class="container">
			<h1>El Paso Artificial Grass Supply Is a Locally Owned and Operated Business in El Paso, Texas. </h1>
			<div class="text">
				<div class="actions flex">
					<a href="#" class="btn btn-orange">View Products</a>
					<a href="#get-free-quote" class="btn btn-orange-br open__modal">Get a Free Quote</a>
				</div>
			</div>
		</div>
	</section>
	<section id="team">
		<div class="container">
			<div class="bt">Meet the Team</div>
			<div class="bt__note">Get to know the dedicated individuals who bring expertise, passion, and creativity to every project at El Paso Artificial Grass Supply</div>
			<div class="list__team grid grid-4">
				<div class="item">
					<div class="image"><img src="{{ 'w1.JPG' | asset_url}}" alt="title"></div>
					<div class="name">Travis Boyle</div>
					<div class="status">Co-Founder</div>
				</div>
				<div class="item">
					<div class="image"><img src="{{ 'w2.JPG' | asset_url}}" alt="title"></div>
					<div class="name">Matt Lee</div>
					<div class="status">Co-Founder</div>
				</div>
				<div class="item">
					<div class="image"><img src="{{ 'w3.JPG' | asset_url}}" alt="title"></div>
					<div class="name">Dustin Rojas</div>
					<div class="status">Client Success Manager</div>
				</div>
				<div class="item">
					<div class="image"><img src="{{ 'w4.jpeg' | asset_url}}" alt="title"></div>
					<div class="name">James Montoya</div>
					<div class="status">Client Success Manager</div>
				</div>
				<div class="item">
					<div class="image"><img src="{{ 'w5.JPG' | asset_url}}" alt="title"></div>
					<div class="name">Meliza Rangel</div>
					<div class="status">Customer Support</div>
				</div>
				<div class="item">
					<div class="image"><img src="{{ 'w6.jpg' | asset_url}}" alt="title"></div>
					<div class="name">Lauren Ramirez</div>
					<div class="status">Contractor Success Manager</div>
				</div>
				<div class="item">
					<div class="image"><img src="{{ 'w7.jpeg' | asset_url}}" alt="title"></div>
					<div class="name">Benito Lopez</div>
					<div class="status">Order Fulfillment</div>
				</div>
				<div class="item">
					<div class="image"><img src="{{ 'w8.JPG' | asset_url}}" alt="title"></div>
					<div class="name">Roland Ferre</div>
					<div class="status">Marketing</div>
				</div>
			</div>
		</div>
	</section>
	<section id="mission">
		<div class="container">
			<div class="item flex">
				<div class="data">
					<div class="bt">Our Mission</div>
					<p>At El Paso, our mission is to provide top-quality artificial grass solutions that enhance outdoor spaces, simplify maintenance, and bring lasting beauty to homes and businesses across the region. With a focus on excellence, innovation, and customer satisfaction, we aim to exceed expectations with every project, transforming landscapes into vibrant, sustainable environments for enjoyment and relaxation.</p>
					<p>We are committed to using eco-friendly practices and materials, ensuring that our installations contribute to a greener, more sustainable future for our community.</p>
				</div>
				<div class="image">
					<img src="{{ 'mission1.jpg' | asset_url}}" alt="title">
					<div class="logo"></div>
				</div>
			</div>
			{% comment %} <div class="item flex">
				<div class="data">
					<div class="bt">Our Story</div>
					<p>Our story began in 2012 with a passion for transforming outdoor spaces into lush, green havens. What started as a small venture has blossomed into El Paso Artificial Grass & Turf, the leading provider of top-quality artificial grass solutions in the region. With over a decade of experience and a dedication to excellence, we've honed our craft, delivering impeccable installations for residential and commercial projects alike.</p>

					<p>Our journey is fueled by a commitment to innovation, sustainability, and customer satisfaction, as we continue to redefine outdoor living one landscape at a time.</p>
				</div>
				<div class="image">
					<img src="{{ 'mission2.jpg' | asset_url}}" alt="title">
					<div class="logo"></div>
					<a href="https://www.youtube.com/watch?v=XHTrLYShBRQ&ab_channel=Apple" class="play" data-fancybox="video"><span></span></a>
				</div>
			</div> {% endcomment %}
		</div>
	</section>

	

	<section id="free__help">
		<div class="container">
			<div class="bt">Need Help Choosing An Artificial Grass Solution?</div>
			<div class="bt__note">The experts at El Paso Artificial Grass & Turf can help you find the ideal artificial grass solution for your project. With years of experience and a deep understanding of landscaping needs, our knowledgeable team will guide you through every step of the process, ensuring your project exceeds expectations.</div>
			<a href="#get-free-quote" class="btn btn-orange open__modal">Get a Free Quote</a>
			<div class="note">or call us at (915) 201-4217 for a free quote  </div>
			<div class="image"><img src="{{ 'free_help.png' | asset_url}}" alt="title"></div>
		</div>
	</section>