<section id="promo__page" class="promo__contacts page__ho">
		<div class="container">
			<h1>We Make Artificial Grass Projects EASY for Homeowners!</h1>
			<div class="bt__note">Need help installing grass or DIY guidance? Watch the video below to learn more!</div>
			<a href="#get-free-quote" class="btn btn-orange open__modal">Get a Free Quote</a>
		</div>
	</section>

	<section id="page__thanks" class="page__ho">
		<div class="container">
			<div class="video">
				<img src="{{ 'videoh.jpg' |  asset_url }}" alt="title">
				<div class="logo"></div>
				<a href="https://www.youtube.com/watch?v=XHTrLYShBRQ&ab_channel=Apple" class="play" data-fancybox="video"><span></span></a>
			</div>
		</div>
	</section>

	<section id="installation__services" class="page__ho">
		<div class="container">
			<div class="bt">Why Choose El Paso Artificial Grass Supply?</div>
			<div class="bt__note">With a commitment to excellence and a passion for crafting beautiful landscapes, we ensure your project is in the best hands possible. Trust us to transform your outdoor space into a vibrant, low-maintenance haven you'll love for years to come.</div>

			<div class="items flex">
				<div class="item">
					<img src="{{ 'installation_services7.svg' |  asset_url }}" alt="title">
					<div class="title">Superior Products</div>
					<p>Elevate your space with our top-tier turf solutions, crafted for durability and beauty.</p>
				</div>
				<div class="item">
					<img src="{{ 'installation_services8.svg' |  asset_url }}" alt="title">
					<div class="title">Affordable Prices</div>
					<p>Enjoy high-quality turf without breaking the bank - our competitive prices make it accessible for all.</p>
				</div>
				<div class="item">
					<img src="{{ 'installation_services9.svg' |  asset_url }}" alt="title">
					<div class="title">Expert Installation</div>
					<p>Leave the hard work to us - our experienced team ensures flawless installation for stunning results.</p>
				</div>
				<div class="item">
					<img src="{{ 'installation_services10.svg' |  asset_url }}" alt="title">
					<div class="title">Design & Measurement Support</div>
					<p>Support: Let us guide you through the process - our experts offer personalized support to ensure the perfect fit.</p>
				</div>
				<div class="item">
					<img src="{{ 'installation_services11.svg' |  asset_url }}" alt="title">
					<div class="title">Work With Us Or Your Own Contractor</div>
					<p>Flexibility is key - collaborate with our team or bring your own contractor to bring your vision to life.</p>
				</div>
				<div class="item">
					<img src="{{ 'installation_services12.svg' |  asset_url }}" alt="title">
					<div class="title">Unparalleled Customer Service</div>
					<p>Your satisfaction is our priority - count on our dedicated team to provide unmatched support and assistance throughout your project journey.</p>
				</div>
			</div>

			<div class="center"><a href="#get-free-quote" class="btn btn-orange open__modal">Get a Free Quote</a></div>
		</div>
	</section>

	<section id="free__help">
		<div class="container">
			<div class="bt">Need Help Choosing An Artificial Grass Solution?</div>
			<div class="bt__note">The experts at El Paso Artificial Grass & Turf can help you find the ideal artificial grass solution for your project. With years of experience and a deep understanding of landscaping needs, our knowledgeable team will guide you through every step of the process, ensuring your project exceeds expectations.</div>
			<a href="#get-free-quote" class="btn btn-orange open__modal">Get a Free Quote</a>
			<div class="note">or call us at (915) 201-4217 for a free quote  </div>
			<div class="image"><img src="{{ 'free_help.png' |  asset_url }}" alt="title"></div>
		</div>
	</section>