<section id="promo" class="inner">
	<div class="background"></div>
		<div class="container">
			<h1>Affordable, Fast, High Quality Artificial Grass Installation in El Paso, Tx</h1>
			<div class="text">
				<p>Quick, Easy, Affordable: The Smart Way to a Beautiful Low Maintenance Lawn in El Paso</p>
				<div class="actions flex">
					<a href="#" class="btn btn-orange">Get a Free Quote</a>
				</div>
			</div>
		</div>
	</section>

	<section id="advantages__install">
		<div class="container">
			<div class="items flex">
				<div class="item">
					<div class="title">Premium Quality</div>
					<p>Offering only the most realistic looking artificial grass availbale.</p>
				</div>
				<div class="item">
					<div class="title">Licensed, Bonded & Secured</div>
					<p>Our artificial grass is high quality and pet friendly.</p>
				</div>
				<div class="item">
					<div class="title">Premium Quality</div>
					<p>Trusted services by licensed and insured professionals.</p>
				</div>
			</div>
		</div>
	</section>

	<section id="install__services">
		<div class="container">
			<div class="bt">Installation Services</div>

			<div class="grid">
				<div class="item">
					<div class="image"><img src="{{ 'service.jpg' |  asset_url }}" alt="title"></div>
					<div class="data">
						<div class="title">Residential</div>
						<p>Residential artificial turf is extremely pleasing to the eye and can, as such, add an effortless touch of luxury landscape to your property that looks and feels the same all year round.</p>
					</div>
				</div>
				<div class="item">
					<div class="image"><img src="{{ 'service2.jpg' |  asset_url }}" alt="title"></div>
					<div class="data">
						<div class="title">Commercial</div>
						<p>We've installed turf in conference centers, retail stores, offices, walkways, and more. Whether it's playground, outdoor carpet, or commercial lawn turf – we've got you.</p>
					</div>
				</div>
				<div class="item">
					<div class="image"><img src="{{ 'service3.jpg' |  asset_url }}" alt="title"></div>
					<div class="data">
						<div class="title">Putting Greens</div>
						<p> Whether you want to conveniently practice your short game or improve your home’s curb appeal, El Paso Artificial Grass & Turf has your 
                            lawn covered!</p>
					</div>
				</div>
				<div class="item">
					<div class="image"><img src="{{ 'service4.jpg' |  asset_url }}" alt="title"></div>
					<div class="data">
						<div class="title">Pathways & Walkways</div>
						<p>Alternating artificial grass with pavers and walkways creates a stunning visual effect for any landscape.
                        </p>
					</div>
				</div>
				<div class="item">
					<div class="image"><img src="{{ 'service5.jpg' |  asset_url }}" alt="title"></div>
					<div class="data">
						<div class="title">Pet Turf</div>
						<p>Want to make the switch to artificial turf that's pet-friendly? We'll help you install artificial grass that your pup would be proud of.
                            </p>
					</div>
				</div>
				<div class="item">
					<div class="image"><img src="{{ 'service6.jpg' |  asset_url }}" alt="title"></div>
					<div class="data">
						<div class="title">Sports Field</div>
						<p>Globally recognized as the standard for athletic fields and golf turf, our clients receive turf fields demonstrate unmatched resiliency and longevity.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="transformations">
		<div class="container">
			<div class="bt">Recent Client Landscape Transformations</div>
			<div class="items flex">
			<div class="item">
				<div class="title">El Paso YMCA Gets Updated Eco-Friendly Play Area</div>
				<div class="compare before-after">
					<img src="{{ 'before1.jpg' | asset_url}}" alt="before">
					<img src="{{ 'after1.jpg' | asset_url}}" alt="after">
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit pellentesque ut pharetra nibh vivamus auctor eu mi.</p>
			</div>
			<div class="item">
				<div class="title">A Horizon City Lawn Complete Makeover</div>
				<div class="compare before-after">
					<img src="{{ 'before2.jpg' | asset_url}}" alt="before">
					<img src="{{ 'after2.jpg' | asset_url}}" alt="after">
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit pellentesque ut pharetra nibh vivamus auctor eu mi.</p>
			</div>
			<div class="item">
				<div class="title">Fort Bliss Family Receives Affordable Lawn Revamp</div>
				<div class="compare before-after">
					<img src="{{ 'before3.jpg' | asset_url}}" alt="before">
					<img src="{{ 'after3.jpg' | asset_url}}" alt="after">
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit pellentesque ut pharetra nibh vivamus auctor eu mi.</p>
			</div>
			<div class="item">
				<div class="title">A Stunning Transformation for Historical Kern Lawn</div>
				<div class="compare before-after">
					<img src="{{ 'before4.jpg' | asset_url}}" alt="before">
					<img src="{{ 'after4.jpg' | asset_url}}" alt="after">
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit pellentesque ut pharetra nibh vivamus auctor eu mi.</p>
			</div>
		</div>
		</div>
	</section>

	<section id="testimonials">
		<div class="container">
			<div class="bt"><strong>TESTIMONIALS</strong> What Our Customers Say</div>

			<div class="items flex">
				<div class="item">
				<div class="rating"><img src="{{ 'rating.svg' | asset_url}}" alt="rating"></div>
				<div class="title">“Would definitely do business with them again.”</div>
				<p>“Travis and crew were great to deal with. Very professional and super responsive which is sometimes hard to come by with contractors. The turf we chose for our rental home was SW Sod and we loved how it turned out. Would definitely do business with them again.”</p>
				<div class="user flex">
					<img src="{{ 'google.svg' | asset_url}}" alt="google">
					<div class="name"><strong>Anthony Holmes</strong> Satisfied Client</div>
				</div>
			</div>
			<div class="item">
				<div class="rating"><img src="{{ 'rating.svg' | asset_url}}" alt="rating"></div>
				<div class="title">“We are extremely pleased with 
                    our new yard”</div>
				<p>“Best contracting experience ever! We contracted El Paso Artificial Grass & Turf to put turf in our backyard for our pups!! I kid you not... it looks and feels amazing. The entire team was so kind and professional. We are extremely pleased with our new yard and can't wait to enjoy it with our fur-babies!”</p>
				<div class="user flex">
					<img src="{{ 'google.svg' | asset_url}}" alt="google">
					<div class="name"><strong>Eduardo Lujan</strong> Satisfied Client</div>
				</div>
			</div>
			<div class="item">
				<div class="rating"><img src="{{ 'rating.svg' | asset_url}}" alt="rating"></div>
				<div class="title">“Everyone was so professional and courteous”</div>
				<p>“I'm so pleased with how my yard turned out!! Everyone was so professional and courteous throughout the entire process. Travis was a huge help when it came to helping us narrow down exactly what we wanted and Josue was so timely and professional with the installation.”</p>
				<div class="user flex">
					<img src="{{ 'google.svg' | asset_url}}" alt="google">
					<div class="name"><strong>Kat Forti</strong> Satisfied Client</div>
				</div>
			</div>
			<div class="item">
				<div class="rating"><img src="{{ 'rating.svg' | asset_url}}" alt="rating"></div>
				<div class="title">“Very professional and super responsive”</div>
				<p>“Travis and crew were great to deal with. Very professional and super responsive which is sometimes hard to come by with contractors. The turf we chose for our rental home was SW Sod and we loved how it turned out. Would definitely do business with them.”</p>
				<div class="user flex">
					<img src="{{ 'google.svg' | asset_url}}" alt="google">
					<div class="name"><strong>Marcus Duchene</strong> Satisfied Client</div>
				</div>
			</div>
			<div class="item">
				<div class="rating"><img src="{{ 'rating.svg' | asset_url}}" alt="rating"></div>
				<div class="title">“Thank you for exceeding 
                    our expectations!”</div>
				<p>“Couldn't be happier with the quality of artificial turf provided. It looks so natural and has completely changed the feel of our outdoor space. From start to finish, the installation process was smooth and efficient. Thank you for exceeding our expectations!”
                    </p>
				<div class="user flex">
					<img src="{{ 'google.svg' | asset_url}}" alt="google">
					<div class="name"><strong>Michael Taylor</strong> Satisfied Client</div>
				</div>
			</div>
			<div class="item">
				<div class="rating"><img src="{{ 'rating.svg' | asset_url}}" alt="rating"></div>
				<div class="title">“They transformed our backyard into a lush oasis”</div>
				<p>"Absolutely thrilled with the artificial grass installation! They transformed our backyard into a lush oasis that requires minimal maintenance. The team's professionalism and attention to detail were outstanding. Highly recommend their services!”
                    </p>
				<div class="user flex">
					<img src="{{ 'google.svg' | asset_url}}" alt="google">
					<div class="name"><strong>Ruth Carter</strong> Satisfied Client</div>
				</div>
			</div>
			</div>

			<div class="center">
				<a href="#" class="btn btn-orange">View More Testimonials</a>
			</div>
		</div>
	</section>

	<section id="free__quote" class="inner">
		<div class="flex">
			<img src="{{ 'quote.jpg' |  asset_url }}" style="max-height: 783px;" alt="title">
			<div class="info">
				<div class="text">
					<div class="bt">About El Paso Artificial Grass Supply</div>
					<p>El Paso Artificial Grass & Turf is a locally owned and operated business in El Paso, Texas. Since starting the company in 2012, we have installed artificial grass for hundreds projects from residential lawns to putting greens to large commercial spaces. We have over 50+ years of combined industry experience and have a passion for installing the best quality, most durable, and beautiful artificial grass and turf surfaces.</p>
					<p>We pride ourselves on dependable service and a high quality product/installation.</p>
					<p>We show up on time and do it right!</p>

					<a href="#get-free-quote" class="btn btn-orange open__modal">Get a Free Quote</a>
				</div>
			</div>
		</div>
	</section>

	<section id="free__help">
		<div class="container">
			<div class="bt">Need Help Choosing An Artificial Grass Solution?</div>
			<div class="bt__note">The experts at El Paso Artificial Grass & Turf can help you find the ideal artificial grass solution for your project. With years of experience and a deep understanding of landscaping needs, our knowledgeable team will guide you through every step of the process, ensuring your project exceeds expectations.</div>
			<a href="#get-free-quote" class="btn btn-orange open__modal">Get a Free Quote</a>
			<div class="note">or call us at (915) 201-4217 for a free quote  </div>
			<div class="image"><img  src="{{ 'free_help.png' |  asset_url }}" alt="title"></div>
		</div>
	</section>
    <style>
        #promo{
            padding-bottom: 110px;
        }
		#promo .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url({{ "bg_promo.jpg" | asset_url }}) 50% 0 no-repeat;
  background-size: cover;
  z-index: -1;
  transition: opacity 1s ease-in-out;
}
#promo .background.fade-out {
  opacity: 0;
}
@media screen and (max-width: 767px) {

  
  #promo .background {
    background: url({{ "bg_promom.jpg" | asset_url }}) 50% 100% no-repeat;
    background-size: cover;
  }

}
    </style>
	 <script>

	 const promoBackgroundElement = document.querySelector('#promo .background');
	 const desktopBackgrounds = [
	   '{{ "bg_promo1.jpg" | asset_url }}',
	   '{{ "bg_promo2.jpg" | asset_url }}'
	 ];
	 const mobileBackgrounds = [
	   '{{ "bg_promom1.jpg" | asset_url }}',
	   '{{ "bg_promom2.jpg" | asset_url }}'
	 ];
	 let currentIndex = 0;
   
	 function changeBackground() {
	   const isMobile = window.matchMedia("(max-width: 767px)").matches;
	   const backgrounds = isMobile ? mobileBackgrounds : desktopBackgrounds;
   
	   promoBackgroundElement.classList.add('fade-out');
   
	   setTimeout(() => {
		 promoBackgroundElement.style.backgroundImage = `url(${backgrounds[currentIndex]})`;
		 promoBackgroundElement.classList.remove('fade-out');
		 currentIndex = (currentIndex + 1) % backgrounds.length;
	   }, 1000); // Подождите, пока завершится анимация "fade-out"
	 }
   
	 setInterval(changeBackground, 5000);
   
	   </script>